---
apiVersion: install.istio.io/v1alpha1
kind: IstioOperator
metadata:
  name: istio-operator
spec:
  components:
    base:
      enabled: true
    cni:
      enabled: true
    egressGateways:
      - name: istio-egressgateway
        enabled: false
    ingressGateways:
      - name: istio-ingressgateway
        enabled: true
        k8s:
          resources:
            limits:
              cpu: 2000m
              memory: 1024Mi
            requests:
              cpu: 50m
              memory: 128Mi
          hpaSpec:
            minReplicas: 2
            maxReplicas: 5
    pilot:
      enabled: true
  ## Root for docker image paths e.g. "gcr.io/istio-release". Using gcr.io since dockerhub introduced stricter rate limits.
  hub: "gcr.io/istio-release"
  ## Version tag for docker images e.g. "1.24.2".
  tag: "1.24.2"
  meshConfig:
    accessLogFile: /dev/stdout
    defaultConfig:
      proxyMetadata:
        ISTIO_META_DNS_CAPTURE: "true"
        ISTIO_META_DNS_AUTO_ALLOCATE: "true"
    enablePrometheusMerge: true
    extensionProviders:
      - name: "auth-exchanger"
        envoyExtAuthzHttp:
          service: "auth-exchanger.knime.svc.cluster.local"
          port: "9090"
          includeRequestHeadersInCheck:
            ["authorization", "user-agent", "x-forwarded-for", "cookie"]
          headersToUpstreamOnAllow: ["authorization", "x-auth-exchanger"]
          pathPrefix: "/check"
          timeout: 5s
  values:
    gateways:
      istio-egressgateway:
        autoscaleEnabled: true
        name: istio-egressgateway
        type: ClusterIP
      istio-ingressgateway:
        autoscaleEnabled: true
        name: istio-ingressgateway
        type: ClusterIP
        podAnnotations:
          {
            proxy.istio.io/config: '{"gatewayTopology":{ "numTrustedProxies": 1}}',
          }
    global:
      istioNamespace: istio-system
      logAsJson: false
      proxy:
        resources:
          limits:
            cpu: 1000m
            memory: 1024Mi
          requests:
            cpu: 50m
            memory: 64Mi
